.in{
    background-color: aqua;
    color: chocolate;
}
.us{
    background-color: cornflowerblue;
    color: crimson;
}
.ch{
    background-color:darkkhaki;
    color: darkmagenta;
}
.ja{
    background-color: darkseagreen;
    color: indianred;
}