
<div >
    <h3>Product List</h3>
<table border="1" style="background-color: lightgray;" align="center">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
               Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1001
            </td>
            <td>
               Dell
            </td>
            <td>
                50000
            </td>
            <td>
                <a [routerLink]="['productDetails',1001]" [queryParams]="{prdName:'Dell'}">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                1002
            </td>
            <td>
               HP
            </td>
            <td>
                55000
            </td>
            <td>
                <a [routerLink]="['productDetails',1002]" [queryParams]="{prdName:'HP'}">Details</a>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
</div>