
<div >
    <h3>Product List</h3>
<table border="1" style="background-color: lightgray;" align="center">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
               Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let p of products'>
            <td>
                {{p.pid}}
            </td>
            <td>
               {{p.prdName}}
            </td>
            <td>
               {{p.price}}
            </td>
            <td>
                <a [routerLink]="['productDetails',p.pid]" [queryParams]="{prdName:p.prdName}">Details</a>
            </td>
            <td>
                <button (click)="showDetails(p)">Details</button>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
</div>